﻿/* These are the styles use by CL Articles */

p {
    margin-top: 3px;
    margin-bottom: 6px;
	max-width: inherit;
}

.cls_00_Spacer
{
	font-family: Arial;
	font-size: 2px;
	line-height: 2px;
	padding: 0;
	margin: 0;
}

.cls_01aCLTitle
{
	font-family: Arial;
	font-size: 25px;
    font-weight: bold;
    text-align: center;
	padding-bottom: 35px;
	margin-top: 15px;
    width: 100%;
}

.cls_01bCLTitlewithsubtitle
{
	font-family: Arial;
	font-size: 25px;
    font-weight: bold;
    text-align: center;
	padding-bottom: 20px;
	margin-top: 15px;
    width: 100%;
}

.cls_02CLSubTitle 
{
	font-family: Arial;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
    width: 100%;
	padding-bottom: 20px;
}

.cls_03aCLScriptureverse
{
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	display: block;
	padding-bottom: 6px;
} 

.cls_03bCLScripturereference
{
	font-family: Arial;
	font-size: 12px;
	text-align: right;
	display: block;
	font-weight: bold;
	padding-bottom: 4px;
}
 
.cls_04CLSmallheading1
{
	font-family: Arial;
	font-size: 18px;
    text-decoration: none;
    font-weight: bold;
	float: left;
    display: block;
	margin-bottom: 4px;
	margin-top: 8px;
    width: 100%;
}

.cls_04CLSmallheading1 u {
	text-decoration: none;
	border-bottom: 2px solid #000;
}

.cls_05CLSmallerheading11
{
	font-family: Arial;
	font-size: 17px;
    font-weight: bold;
    font-style: italic;
	margin-bottom: 4px;
	margin-top: 8px;
   width: 100%;
}

.cls_06CLStillsmallerheading111
{
	font-family: Arial;
	font-size: 14px;
    width: 100%;
	font-weight: bold;
	padding-bottom: 3px;
	margin-top: 8px;
}

ul
{
	margin-top: 0px;
	margin-bottom: 9px;
}

.cls_07CLBullets
{
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 4px;
}

ol
{
	margin-top: 0px;
	margin-bottom: 9px;
}

.cls_08CLBulletsNumbering
{
	font-family: Arial;
	font-size: 14px;
	margin-bottom: 4px;
}

.cls_09CLAuthorname
{
	font-family: Arial;
	font-size: 12px;
	margin-top: -10px;
}

.cls_10CLCopyrightText
{
	font-family: Arial;
	font-size: 8px;
}

.cls_11CLEndnotesheading
{
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;

}

.cls_12CLEndnotes
{
	font-family: Arial;
	font-size: 11px;
}

.cls_13CLQuoteIndent
{
	font-family: Arial;
	font-size: 14px;
	font-style: italic;
	text-align: justify;
	margin-left: 35px;
	margin-bottom: 10px;
}
 
.cls_14CLQuoteReference
{
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	text-align: right;
	margin-bottom: 4px;
}
 
.cls_15CLNormalParagraph
{
	font-family: Arial;
	font-size: 14px;
	text-align: justify;
	margin-bottom: 8px;
}

.cls_RefNo
{
	font-family: Arial;
	font-weight: bold;
    color: red;
    vertical-align: top
}

.cls_Ref {
    font-family: Arial;
	text-decoration: underline;
    font-size: 8pt;
    font-weight: bold;
    color: red;
    vertical-align: top
}

.cls_siteLink {
	font-family: Arial;
	font-size: 10px !important;
}

a.cls_siteLink:link {
	text-decoration: underline !important;
}

.hr {
	width: 35%;
	border-bottom: 1px solid #000;
}